<link rel="stylesheet" href="css/auth.css">

<form action="/auth" method="post">
    <div class="block">
        <h1 class="header">Авторизація</h1>

        <input type="text" name="auth_user_name" placeholder="Введіть своє ім'я...">
        <input type="password" name="auth_pass" placeholder="Введіть свій пароль...">
        <button type="submit" class="auth_btn">Авторизуватися</button>
    </div>
</form>